<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Citas Médicas</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navMenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            Inicio
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pacientes" routerLinkActive="active">
            Pacientes <span class="badge text-bg-light text-primary">SOAP</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/medicos" routerLinkActive="active">
            Médicos <span class="badge text-bg-light text-primary">SOAP</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/citas" routerLinkActive="active">
            Citas <span class="badge text-bg-light text-primary">REST</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
